.schedule
    select.schedule-item#uo(name="uo")
        option(value="zxc" default )  Выберите ваше учебное заведение
    .schedule-item#students Расписание для студентов
    .schedule-item#teachers Расписание для преподавателей