.block-container
    .ed_page.f.f-col.jc
        img(src="./img/chiup1.png", alt="")
        img(src="./img/chiup2.png", alt="")
        img(src="./img/chiup3.png", alt="")
        img(src="./img/chiup4.png", alt="")