.block-container
    .stats.f.f-col.ai
        .stats-selects.f.f-col.m-t10.ai
            .stats-selects_blocks.f.fm-col
                    .auth-input_bullet-container.f
                        .auth-input_bullet-item.ei-item.active ВУЗ
                        .auth-input_bullet-item.ei-item СУЗ
                    .post-filters_place.fm.fm-col.m-t10
                            select.post-filters_place-item#region
                                option(value="", selected) Область
                                option(value="Минск") Минск
                                option(value="Минская область") Минская
                                option(value="Брестская область") Брестская
                                option(value="Гродненская область") Гродненская
                                option(value="Гомельская область") Гомельская
                                option(value="Могилёвская область") Могилевская
                                option(value="Витебская область") Витебская
                            select.post-filters_place-item#name
                                option(value="", selected) Наименования УО
                            //- select.post-filters_place-item#sub
                            //-     option(value="", selected) Специальность
            .stats-selects_update Обновить
        table.stats-info.f.f-col.tac.m-t10
            //- tr.fav-ei_item.f.jc-sb
            //-     td Специальность
            //-     td Полное название
            //-     td Учреждение образования
            //-     td Проходной балл Бюджет
            //-     td Проходной балл Платный