.block-container
    .auth-container_header.tac Зачисление происходит только при поданных оригиналах документов в учреждение образования
    .fav.f 
        .fav-actions.f.f-col
            a(href='/auth-profile.html').fav-actions_item.f.ai.tac Ввести/изменить личные данные
            .fav-actions_item.f.ai.tac Распечатать анкету
            .fav-actions_item.f.ai.tac Распечатать заявление
        .fav-ei.tac.f.ai Выберите учреждение образования/ Данные переданы в учреждение образования «название УО и выбранные специальности» отнесите оригиналы документов/ Документы приняты в учреждение образования «название УО и выбранные специальности»
            