.block-container
    .auth-container_header.tac Зачисление происходит только при поданных оригиналах документов в учреждение образования
    .fav.f 
        .fav-actions.f.f-col
            a(href='/auth-profile.html').fav-actions_item.f.ai.tac Ввести/изменить личные данные
            .fav-actions_item.f.ai.tac Распечатать анкету
            .fav-actions_item.f.ai.tac Распечатать заявление
        table.fav-ei.tac.f.f-col
            tr.fav-ei_item.f.jc-sb
                td Специальность
                td Полное название
                td Учреждение образования
                td Проходной балл Бюджет
                td Проходной балл Платный
        
            