.block-container
            //- .auth-input.f.f-col
            //-     label(for="email") Email
            //-     input(type="text", id="email", name="email")
            //- .auth-input.f.f-col
            //-     label(for="pass") Пароль
            //-     input(type="password", id="pass", name="pass")
            