.schedule-buttons
    select.schedule-buttons_select#students-select(name="students-select")
    .schedule-buttons-search

table.schedule-table#students-table
    tr
        th zx
        th xz
        th cvb
        th vcb
        th ad
    tr
        td zx
        td xz
        td cvb
        td vcb
        td ad
 
