.header
    .header-info.f 
        a.header-info_item.f.sc.tac.__main-link(href="http://localhost:3000/index.html")
            p Главная
        a.header-info_item.f.sc.tac(href="http://localhost:3000/statistics.html")
            p Статистика
        a.header-info_item.f.sc.tac(href="http://localhost:3000/documents.html")
            p Нормативные документы
        a.header-info_item.f.sc.tac(href="http://localhost:3000/favourite.html")
            p Избранное
        a.header-info_item.f.sc.tac(href="http://localhost:3000/contacts.html")
            p Контакты
        a.header-info_item.f.sc.tac(href="http://localhost:3000/send_documents.html")
            p Подать документы
        a.header-info_item.f.sc.tac(href="http://localhost:3000/auth.html")
            p Вход/регистрация