.header
    .header-info.f 
        a.header-info_item.f.sc.tac.__main-link(href="/index.html")
            p Главная
        a.header-info_item.f.sc.tac(href="/statistics.html")
            p Статистика
        a.header-info_item.f.sc.tac(href="/documents.html")
            p Нормативные документы
        a.header-info_item.f.sc.tac(href="/favourite.html")
            p Избранное
        a.header-info_item.f.sc.tac(href="/contacts.html")
            p Контакты
        a.header-info_item.f.sc.tac(href="/send_documents.html")
            p Подать документы
        a.header-info_item.f.sc.tac(href="/auth.html")
            p Вход/регистрация
    .header-menu-icon.fm
        +icon('menu', 'header-icon')
