.schedule-buttons
    select.schedule-buttons_select#teachers-select(name="teachers-select")
    .schedule-buttons_search

table.schedule-table#teachers-table
    tr
        th zx
        th xz
        th cvb
        th vcb
        th ad
        th ad
    tr
        td zx
        td xz
        td cvb
        td vcb
        td ad
        td ad
 
