extends ../layout/layout.pug
block vars
    - var title = 'Админ панель';

block container 
    include ../includes/container.pug
        block header
            include ../includes/header.pug
        block content
            include ../includes/admin-panel/content.pug 