extends ../layout/layout.pug
block vars
    - var title = 'Нормативные документы';

block container 
    include ../includes/container.pug
        block header
            include ../includes/header.pug
        block content
            include ../includes/documents/content.pug 
