extends ../layout/schedule-layout.pug
block vars
    - var title = 'Расписание';

block container 
    include ../includes/container.pug
        block content
            include ../includes/schedule/content.pug 