extends ../layout/schedule-layout.pug
block vars
    - var title = 'Расписание для преп';

block container 
    include ../includes/container.pug
        block content
            include ../includes/schedule-teachers/content.pug 