extends ../layout/schedule-layout.pug
block vars
    - var title = 'Расписание для студентов';

block container 
    include ../includes/container.pug
        block content
            include ../includes/schedule-students/content.pug 