.container {
    padding: 0;
}

.header {

    &-info {
        flex-wrap: wrap;
    }
}

.fm {
    display: flex;

    &-row {
        flex-direction: row;
    }
}

.fm-col {
    flex-direction: column;
}



.block {
    &-container {
        padding-top: 80px;
        z-index: 1;
        min-height: 80vh;
    }
}

.auth {

    &-input {

        &_bullet {

            &-item {

                &:first-child {
                    white-space: nowrap;
                }

                &#select {
                    width: 50%;
                }
            }
        }
    }

    &_enter {
        width: 100%;

        &-buttons {
            width: 100%;
        }

        &-confirm {
            text-align: center;
            color: #000;
            margin-bottom: 30px;
        }

        &-forgot {
            left: unset;
            bottom: 0;
            width: 40px;
            right: 10%;
        }

        &-back {
            color: #000;
            text-align: center;
        }
    
        &-link{
            margin-bottom: 30px;
        }
    }


}



.header {
    display: flex;
    position: fixed;
    right: calc(100% - 80px);
    z-index: 3;
    
    &.active {
        right: 0;
    }

    &-menu {

        &-icon {
            background: $mainTheme;
            height: fit-content;
            z-index: 100;
            padding: 0 10px;
        }
    }

    &-icon {
        width: 60px;
        height: 70px;

    }
}

.stats {

    &-info {
        font-size: 12px;
        width: 100%;
    }
}

.fav {
    &-actions {
        margin-right: 0;
    }

    &-ei {
        border: none;
        padding: 0;
        font-size: 8px;
    }
}