@import "import/reset";
@import "import/fonts";
@import "import/supports";
$mainTheme: #5f0;
div,
p,
h1,
h3 {
  color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
}


.schedule {

  &-item {


    &#uo {
      color: $mainTheme;
    }
  }

  &-buttons {

    &_search {

    }
    
    &_select {

      & option {
        color: $mainTheme;
      }
    }
  }

  &-table {

    & th {
      background: $mainTheme;
    }
  }
}

.choose {
  width: 100%;
  height: 100vh;
  background: $mainTheme;
  display: flex;

  &-item {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    justify-content: center;
    text-align: center;
    p {
      padding: 10px 15px;
      border: 3px dotted #277400;
    }
  }
}

.back-to-choose {
  position: absolute;
  width: 40px;
}

.alert {
  position: absolute;
  display: none;
  background: $mainTheme;
  padding: 14px;
  border-radius: 5px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 19px;
  border: 1px solid #000;
  color: #000;

  &.show {
    display: block;
  }

  &-text {
    color: #000;

    padding-bottom: 20px;
  }

  &-button {
    color: #000;
    border-radius: 5px;
    border: 1px solid #000;
    background: #36a200;
    padding: 10px 15px;
    text-align: left;
  }
}

.post {

    &-send {
        background: $mainTheme;
        border-radius: 5px;
        color: #000;
        margin-bottom: 30px;
        padding: 10px;
        white-space: nowrap;
        width: min-content;
    }

    &-filters {

        

        &_place {
            margin-left: 10px;

            &-item {
                background: $mainTheme;
                border-radius: 5px;
                padding: 10px;
                // width: 100%;
                transition: .2s all ease-in-out;
            }
        }
    }
}

.block {
  &-container {
    padding: 3px 3px 30px;
    position: relative;
    background: #000;
  }

  &-auth {
    width: 100%;

    &_confirm {
      background: $mainTheme;
      padding: 11px 42px;
      border-radius: 5px;
    }
  }
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 10%;
  background: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2Fzba6Y89.jpg&f=1&nofb=1);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  &-menu{

    &-icon {
      display: none;
    }
  }

  &-info {
    &_item {
      color: #fff;
      background: #000;
      padding: 10px;
      width: 100%;
      border: 3px solid $mainTheme;

      &.__main-link {
        background: $mainTheme;
        color: #000;

        p {
          color: #000;
        }
      }

    }
  }
}

.news {
  height: 100px;

  &-main {
    width: 90%;
  }

  &_wrapper {
    
    &_items {
        
    margin-left: 10px;
    }

    &_item {
        
        transition: .2s all ease-in-out;

        &:hover {
            
            margin-left: 20px;

            .news_wrapper_item-text {
                margin-left: 20px;
                font-size: 18px;
            }
        }

        &-title {
            font-size: 20px;
        }

        &-text {
            transition: .2s all ease-in-out;
            margin-left: 10px;
            font-size: 16px;
        }
    }
  }

  &-side {
    height: 100%;
    width: 10%;
    background: #ccc;
    display: block;
  }
}

.admin {

  &-info {
    max-height: 500px;
    width: 60%;
    overflow-y: scroll;

    .auth-input input {
      width: 80%;
    }
  }

  &-controls {
    width: 60%;

    &_item {
      cursor: pointer;
      border: 1px solid $mainTheme;
      padding: 7px 15px;
      border-radius: 5px;
      color: #000;
      background: #767676;
    }
  }

  &-panel {

    &_search {
      cursor: pointer;
      padding: 7px 15px;
      height: min-content;
      color: #000;
      font-size: 18px;
      background: #767676;
      margin-left: 10px;
      border: $mainTheme 1px solid;
      border-radius: 5px;
     
    }


    &_first {
      margin: 10px;
 
      width: 60%;

      .auth-input input {
        width: 100%;

      }
    }
  }

  &-item {
    border-radius: 5px;
    border: 3px solid $mainTheme ;
    padding: 10px 15px;
    width: fit-content;

    &_name {
      padding-right: 30px;
    }

    &_confirm {
      background: $mainTheme;
      color: #000;
      padding: 10px 15px;
      border-radius: 5px;
    }
  }

}

.fav {
  padding: 30px;

  &-ei {
    border: 4px solid $mainTheme;

    margin-bottom: 20px;
    min-height: 100px;
    font-weight: 700;
    width: 100%;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;

    &_item {
      border: 2px solid $mainTheme;
      // padding: 5px;

      td {
        padding: 5px;
        width: 100%;
      }

      td:not(:last-child) {
        border-right: 2px solid $mainTheme;
      }
    }
  }
  
  &-actions {
    margin-right: 30px;
    &_item {
      color: #000;
      border-radius: 5px;
      font-weight: 700;
      background: $mainTheme;
      margin-bottom: 20px;
      min-height: 100px;
      padding: 10px 30px;
    }
  }
}

.stats {

  &-selects {

    &_update {
      margin-top: 20px;
      background: $mainTheme;
      border-radius: 5px;
      color: #000;
      padding: 10px 15px;
    }
  }

  &-info {
    width: 70%;
  }
}

.auth {
  &-ed {
    &-add {
      background: $mainTheme;
      padding: 10px;
      white-space: nowrap;
      width: min-content;
      cursor: pointer;
    }
  }

  &-next {
    background: $mainTheme;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    white-space: nowrap;
    color: #000;
    width: min-content;
  }

  &-reg {
    height: 500px;
    width: 100%;
    color: #000;

    &_link {
      color: #000;
      font-size: 18px;
      background: $mainTheme;
      padding: 10px 20px;
      min-width: 400px;

      &:first-child {
        margin-bottom: 40px;
      }
    }
  }

  &-link {
    color: $mainTheme;
    text-decoration: underline;
  }

  &-container {
    padding: 3px 3px 30px;

    &_header {
      border: 1px solid $mainTheme;
      color: $mainTheme;
      padding: 5px;
      margin-bottom: 20px;
    }

    &_enter {
      padding: 0 10%;
    }
  }

  &_enter {
    width: 30%;

    &-info {
      background: #767676;
      border: 2px solid $mainTheme;
      padding: 10px;
      margin-bottom: 10px;
    }

    &-link {
      border: 1px solid $mainTheme;
      background: $mainTheme;
      color: #000;
    }

    &-confirm {
      background: $mainTheme;
    padding: 11px 42px;
    border-radius: 5px;
    }

    &-forgot {
      position: absolute;
      width: 60px;
      left: 55%;
      cursor: pointer;
    }

    &-enter {
    }

    &-back {
      background: #5f0;
    padding: 11px 42px;
    border-radius: 5px;
    }

    &-buttons {
      margin: 0 auto;
      width: 60%;
    }
  }

  &-profile {
    padding: 40px;

    &_ct {
      width: 40%;
    }
  }

  &-input {
    position: relative;
    padding: 20px 0;

    &_name {
      width: 80%;
    }

    &_sub-item {
      height: fit-content;
      padding: 10px;
      background: $mainTheme;
      font-size: 16px;
      color: #000;
      border-radius: 5px;
    }

    &_file {
      label {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
        white-space: nowrap;
        color: #000;
        background: #767676;
        border: 2px solid $mainTheme;
        padding: 9px 49px;
        border-radius: 6px;
        margin-bottom: 20px;
        cursor: pointer;
      }

      input {
        opacity: 0;
        position: absolute;
        z-index: -1;
        overflow: hidden;
        width: 0.4px;
        height: 0.4px;
      }
    }

    input {
      padding: 7px;
      margin-top: 10px;
      border-radius: 5px;
      border: 1px solid $mainTheme;
      font-size: 18px;
      min-width: 200px;
      width: 50%;
      background: #767676;
    }

    label {
      padding-left: 20px;
    }

    &_doc {
      &-container {
        width: fit-content;
        // padding: 5px;
        border: 1px solid $mainTheme;
      }

      &-item {
        padding: 10px 25px 10px 10px;
        text-align: left;

        &.active {
          background: $mainTheme;
        }

        &:first-child {
          border-right: 1px solid $mainTheme;
        }
      }
    }

    &_bullet {
      &-text {
        padding: 0 0 10px 20px;
      }

      &-container {
        width: fit-content;
        // padding: 5px;
        border: 1px solid $mainTheme;
      }

      &-item {

        padding: 10px 25px 10px 10px;
        text-align: left;

        &.active {
          color: #000;
          background: $mainTheme;
        }

        &:first-child {
          border-right: 1px solid $mainTheme;
        }
      }
    }
  }
}
#name:invalid {
  color: red;
}
.docs {
  &-list {

    

    &_item {
      padding-bottom: 15px;
    }
  }

  &_item {
    &-svg {
      height: 10px;
    }

    &-img {
      width: 5%;
      max-width: 25px;

      svg {
        width: 100%;
      }
    }
  }
}

input.__mark {
  margin-top: 0;
}

.forgot {
  margin: 30px;
  border: 3px solid $mainTheme;
  padding: 30px;
  
  &-status {
    color: #f00;
  }

  &-btn {
    background: $mainTheme;
    color: #000;
    padding: 10px 15px;
    width: fit-content;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  &-title {
    margin-top: 40px;
    font-size: 22px;
  }
}


@media screen and (max-width: 576px) {
  @import "resolutions/576";
}

@media screen and (min-width: 992px) {
  @import "resolutions/992";
}

@media screen and (min-width: 1400px) {
  @import "resolutions/1400";
}
