.block-container 
    .auth-container_header.tac Зачисление происходит только при поданных оригиналах документов в учреждение образования
    .auth-container_enter.f.fm-col.jc-sb
        .auth_enter
            .auth_enter-info Если у Вас нет электронного кабинета абитуриента, то можете зарегистрироваться
            .auth_enter-link.tac#signup Регистрация
        .auth_enter
            .auth_enter-info Если Вы уже зарегистрированы, то воспользуйтесь формой входа
            .auth_enter-link.tac#login Вход
        

            //- .auth-input.f.f-col
            //-     label(for="email") Email
            //-     input(type="text", id="email", name="email")
            //- .auth-input.f.f-col
            //-     label(for="pass") Пароль
            //-     input(type="password", id="pass", name="pass")
            