.block-container 
    .auth-container_header.tac Зачисление происходит только при поданных оригиналах документов в учреждение образования
    h3.tac Нормативные документы
    ul.docs-list 
        li 
            a(href="#").docs-list_item.f.ai 
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Document
        li 
            a(href="#").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Document
        li 
            a(href="#").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Document
        li 
            a(href="#").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Document
        li 
            a(href="#").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Document
        li 
            a(href="#").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Document
        li 
            a(href="#").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Document