.block-container 
    .auth-container_header.tac Зачисление происходит только при поданных оригиналах документов в учреждение образования
    h3.tac Нормативные документы
    ul.docs-list 
        li 
            a(href="https://abitur.bsuir.by/m/12_113227_1_54904.pdf").docs-list_item.f.ai 
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Указ Президента Республики Беларусь от 20.04.2021 №155  "Об организации вступительной кампании в учреждениях высшего и среднего специального образования в 2021 году"
        li 
            a(href="https://abitur.bsuir.by/m/12_113227_1_54682.pdf").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Перечень специальностей среднего специального образования, учебные планы которых интегрированы с учебными планами специальностей высшего образования, для получения высшего образования I ступени в сокращенный срок, утвержденный Постановлением Министерства образования Республики Беларусь от 31.03.2017 №33 (в редакции Постановления Министерства образования Республики Беларусь от 12.04.2021 №63)
        li 
            a(href="https://abitur.bsuir.by/m/12_113227_1_54684.pdf").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Перечень специальностей, по которым не допускается получение образования в вечерней, заочной формах получения образования, утвержденный Постановлением Совета Министров Республики Беларусь от 21.06.2011 №807 (в редакции Постановления Совета Министров Республики Беларусь от 29.06.2018 №513)
        li 
            a(href="https://abitur.bsuir.by/m/12_113227_1_54725.pdf").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Постановление Министерства образования Республики Беларусь от 03.03.2020 №16 "Об определении отметок, приравниваемых к неудовлетворительным"
        li 
            a(href="https://abitur.bsuir.by/m/12_113227_1_54828.pdf").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Постановление Министерства образования Республики Беларусь от 19.03.2021 №50 "О проведении централизованного тестирования по учебным предметам в 2021 году"
        li 
            a(href="https://abitur.bsuir.by/m/12_113227_1_54909.pdf").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Постановление Министерства образования Республики Беларусь от 19.03.2021 №50 "О проведении централизованного тестирования по учебным предметам в 2021 году" (в редакции Постановления Министерства образования Республики Беларусь от 21.04.2021 №72)
        li 
            a(href="https://abitur.bsuir.by/m/12_113227_1_54840.pdf").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Постановление Министерства образования Республики Беларусь от 12.04.2021 №64 "О сроках проведения в 2021 году вступительной кампании для получения высшего образования I ступени"
        li 
            a(href="https://abitur.bsuir.by/m/12_113227_1_54903.pdf").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Приказ Министра образования Республики Беларусь от 27.04.2021 №303 "Об организации работы "горячей линии"
        li 
            a(href="https://abitur.bsuir.by/m/12_113227_1_54908.pdf").docs-list_item.f.ai
                .docs_item-img
                    +icon("right-arrow", "docs_item-svg")
                p Приказ Министра образования Республики Беларусь от 28.04.2021 №321 "Об установлении количества мест для получения высшего образования на условиях целевой подготовки в подчиненных учреждениях образования в 2021 году"